name: cliquo_cloud

networks:
  cliquo_net:
      external: true

services:
  cliquo_mysql:
    image: mysql:8.0.35
    restart: unless-stopped
    container_name: cliquo_mysql
    volumes:
      - "./data/mysql:/var/lib/mysql"
      - "./config/mysql.cnf:/etc/mysql/conf.d/custom.cnf:ro"
    environment:
      MYSQL_ROOT_PASSWORD: gdkZS6S6_Sf2ss9ss6556
    networks:
      - cliquo_net
      
  cliquo_adminer:
    image: adminer:latest
    restart: unless-stopped
    container_name: cliquo_adminer
    environment:
      ADMINER_DEFAULT_SERVER: cliquo_mysql
    networks:
      - cliquo_net

  cliquo_proxy:
    image: nginx:1.23-alpine
    container_name: cliquo_proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - cliquo_net
    volumes:
      - ./config/nginx:/etc/nginx/conf.d:ro
      - ./data/certs:/etc/certs:ro
      - ./data/certbot-www:/var/www/certbot:ro

  cliquo_certbot:
    image: certbot/certbot
    container_name: cliquo_certbot
    restart: no
    volumes:
      - ./data/certs:/etc/letsencrypt:rw
      - ./data/certbot-www:/var/www/certbot:rw
    networks:
      - cliquo_net
